body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( 120deg, #1e0394a2, #FAFAFA);
    text-align: center;
    line-height: 2;
 }   

.container{
    width: 100;
    height: 100;
    background: url('img.jpg');
}


section{
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

p{
    width: 600px;
    margin: 0 auto;
    font-family:cursive;
    text-align: left;
    background: rgba(31, 31, 31, 0.1);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}


.links{
    text-align: right;
}


img{
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(0, 0, 0);
}

#meio{
    text-align: center;
    font-family: fantasy;
}
#titulo{
    color: rgb(201, 201, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: #000000;
    box-shadow: #000000;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px;
}

.logohtml{
    border-radius: 10%;
    max-width: 120px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s;

}

.logohtml:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 116, 2, 0.774);
}

.logocss{
    border-radius: 10%;
    max-width: 150px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s;
}

.logocss:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(2, 61, 255, 0.774);
}


.texto-efeito {
    display: inline-block;
    font-size: 1.5em;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.logojs{
    border-radius: 10%;
    max-width: 150px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s;
}

.logojs:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(217, 255, 2, 0.603);
}